
h1 {
    background-color: bisque;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
}

h3 {
    padding-top: 10px;
}

button {
    width: 100%;
}

input {
    width: 100%;
    margin-bottom: 5px;
}

#city-container {
    padding-top: 20px;
    width: 100%;
}